* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  background-color: black;
}

header h1{
  display: flex;
  color: white;
  align-items: center;
  font-size: 1.8vw;
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

header nav{
  line-height: 1.6;
  font-size: 1.8vw;
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

header a{
  padding-left: 25px;
  padding-right: 15px;
  padding-bottom: 5px;
  text-decoration: none;
  color: white;
}

body{
  background-color: var(--lightgray);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content { /*changed width to 76.7% to fit better in my browser for screenshot for README.md*/
  width: 76.7%;
  display: inline-block;
  margin-left: 20px;
}
/*.content article controls inside each idividual article/section*/
.content article { /*added .content article class to control .search-engine-optimization, .online-reputation-management, and .social-media-marketing class for smoother operation*/
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  width: 800px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/*.content article img controls inside each idividual article/section image*/
.content article img { /*added .content article img class to control .search-engine-optimization img, .online-reputation-management img, and .social-media-marketing img class for smoother operation*/
  max-height: 200px;
}
/*.content article h2 controls inside each idividual article/section text*/
.content article h2 { /*added .content article hr class to control .search-engine-optimization h2, .online-reputation-management h2, and .social-media-marketing h2 class for smoother operation*/
  margin-bottom: 20px;
  font-size: 36px;
}





footer{
  background-color: var(--header-footer-background-color);
  color: var(--lightskyblue);
}

footer a{
  text-decoration: none;
  border-bottom: 2px solid var(--lightskyblue);
  color: var(--lightskyblue);
  font-size: 1.8vw;
  font-weight: bold;
}

.nav-effects a:hover{ 
  color: var(--lightskyblue);
  font-weight: bold;
  text-shadow: 0px 0px 20px var(--lightskyblue);
}

.project-grid-container div:hover {
  mix-blend-mode: color-burn;
}

.project-grid-container.project-item-project.ghost-item:hover {
  opacity: 0;
}

.footer-container a:hover {
  color: var(--lightskyblue);
  font-weight: bold;
  text-shadow: 0px 0px 20px var(--lightskyblue);
}

.hero {
  height: 425px;
  background-image: url("../images/1f4638addc8c0c377a8e69901c953582.jpg");
  border-bottom-left-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}

.hero-title {
  line-height: 1.6;
  margin-bottom: 100px;
  padding-bottom: 5px;
  font-size: 100px;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 5px;
  padding-right: 150px;
}

.about-me-wrapper {
  /*display: flex;*/
  flex-wrap: wrap;
  justify-content: space-between;
  /*justify-content: center;*/
  margin-top: 50px;
}

.about-me-grid-container{
  width: 95%;
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px 10px;
}

.about-me-item.about-me-title{
  /*padding-top: 0px;*/
  font-size: 35px;
  /*grid-row: 1 / span 4;*/
  padding-right: 10px;
  text-align: center;
  /*border-right: 2px solid var(--about-me-project-border);*/
}

.about-me-item.p1{
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
}

.about-me-item.p2{
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 3 / span 2;
}

.project-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;
}

.project-grid-container{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 10px 10px;
}

.project-item.project-title{
  padding-top: 10px;
  font-size: 35px;
  grid-row: 1 / span 9;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid var(--about-me-project-border);
}

.project-item-project.module-one {
  grid-column: 2 / span 2;
  grid-row: 1 / span 6;
  background-image: url("../images/horiseon.png");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--rgba-border-color-opacity);
}

.project-item-project.run-buddy{
  grid-column: 3 /span 1;
  grid-row: 7 / span 3;
  background-image: url("../images/run-buddy-project.JPG");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--rgba-border-color-opacity);
}

.project-item-project.password-generator{
  grid-column: 2 / span 1;
  grid-row: 7 / span 3;
  background-image: url("../images/password-generator.JPG");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--rgba-border-color-opacity);
}

.project-item-project.web-api-code-quiz{
  grid-column: 4 / span 1;
  grid-row: 1 / span 3;
  background-image: url("../images/web-api-code-quiz.JPG");
  background-size: 300px 200px, cover;
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--rgba-border-color-opacity);
}

.project-item-project.work-day-scheduler{
  grid-column: 4 / span 1;
  grid-row: 4 / span 3;
  background-image: url("../images/work-day-scheduler.JPG");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--rgba-border-color-opacity);
}

.project-item-project.project01-group07{
  grid-column: 4 /span 1;
  grid-row: 7 / span 3;
  background-image: url("../images/project1-group07.JPG");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--rgba-border-color-opacity);
}

.project-item-project.ghost-item{
  grid-column: 4 / span 1;
  opacity: 0;
  
}

.background{
  position: relative;
  line-height: 3;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5%;
}

.background.title{
  margin-top: 10px;
  margin-bottom: 20px;
}

.background.opacity{
  opacity: .95;
  font-size: 30px;
}

.background.lower-text{
  font-size: x-small;
}

.footer-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.footer-container{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr);
  grid-template-rows: repeat(3,2fr);
  gap: 20px 20px;
}

.footer-grid-item{
  text-align: center;
}

.footer-grid-item.contact-me{
  padding-top: 10px;
  font-size: 35px;
  grid-row: 1 / span 3;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid var(--lightskyblue);
}

.footer-grid-item.phone{
  grid-row: 2;
}

.footer-grid-item.email{
  grid-row: 2;
}

.footer-grid-item.git-hub{
  grid-row: 2;
}

@media screen and (max-width: 980px){
  header{
    justify-content: center;
  }

  header h1{
    padding-left: 0px;
  }

  .hero-subtitle{
    padding-right: 30px;
  }

  .background.opacity{
    font-size: 25px;
  }

  .hero{
  background-attachment: scroll;
  }

  .about-me-wrapper{
    margin-top: 20px;
  }

  .about-me-grid-container{
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px 5px; 
  }

  .about-me-item.about-me-title{
    padding-top: 0px;
    font-size: 25px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: none;
    border-bottom: 2px solid var(--about-me-project-border);
  }

  .about-me-item.p1{
    padding-top: 5px;
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
  }

  .about-me-item.p2{
    padding-top: 5px;
    grid-column: 1 / span 3;
    grid-row: 4 / span 2;
    padding-bottom: 10px;
  }
  .project-grid-container.project-item-project.ghost-item:hover{
    opacity: .8;
  }

  .footer-wrapper{
    margin-top: 20px;
  }

  .footer-container{
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2.5px 2.5px;
  }

  .footer-grid-item.contact-me{
    padding-top: 0px;
    font-size: 25px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: none;
    border-bottom: 2px solid var(--lightskyblue);
    padding-left: 25px;
  }

  .footer-grid-item.phone{
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    align-self: center;
    padding-left: 10px;
  }

  .footer-grid-item.email{
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    align-self: center;
    padding-left: 25px;

  }

  .footer-grid-item.git-hub{
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
    align-self: center;
    width: 20px;
    padding-left: 80px;
  }
}

@media screen and (max-width: 768px){
  header a{
    font-size: 3vw;
  }

  footer a{
    font-size: 3vw;
  }

  .nav a:hover{
      font-size: 3vw; 
  }

  .footer-container a:hover{
    font-size: 1.8vw;
  }

  .hero{
    background-attachment: scroll;
  }
    
  .about-me-grid-container{
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: .5fr repeat(4, 1fr);
    gap: 5px 5px; 
  }

  .about-me-item.about-me-title{
    padding-top: 0px;
    font-size: 25px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: none;
    border-bottom: 2px solid var(--about-me-project-border);
    align-self: start;
  }

  .about-me-item.p1{
    padding-left: 0px;
  }

  .about-me-item.p2{
    padding-left: 0px;
  }

  .project-wrapper{
    margin-top: 15px;
  }

  .project-grid-container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .5fr repeat(10, 1fr);
    gap: 2.5px 2.5px;
  }

  .project-item.project-title{
    font-size: 35px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-bottom: 2px solid var(--about-me-project-border);
    border-right: none;
    align-self: start;
  }

  .project-item-project.module-one {
    grid-column: 1 / span 3;
    grid-row: 2 / span 3;
    align-items: flex-end;
    text-align: center;
    background-position: scroll;
  }

  .project-item-project.run-buddy{
    grid-column: 1 /span 3;
    grid-row: 5 / span 2;
    align-items: flex-end;
    text-align: center;
    background-position: scroll;
  }
  
  .project-item-project.password-generator{
    grid-column: 1 /span 3;
    grid-row: 7 / span 1;
    padding-top: 30px;
    background-position: scroll;
    text-align: center;
  }
  
  .project-item-project.web-api-code-quiz{
    grid-column: 1 /span 3;
    grid-row: 8 / span 1;
    background-position: scroll;
    text-align: center;
  }
  
  .project-item-project.work-day-scheduler{
    grid-column: 1 /span 3;
    grid-row: 9 / span 1;
    background-position: scroll;
    text-align: center;
  }

  .project-item-project.project01-group07{
    grid-column: 1 /span 3;
    grid-row: 10 / span 1;
    align-items: flex-end;
    text-align: center;
    background-position: scroll;
  }
  
  .project-item-project.ghost-item{
    grid-column: 1 /span 3;
    grid-row: 11 / span 1;
    background-image: url("../images/pexels-luizclas-556665.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    opacity: 1;
    background-position: scroll;
    text-align: center;
  }

  .footer-wrapper{
  margin-top: 10px;
  }
}

@media screen and (max-width: 575px){
  header a{
    font-size: 4vw;
  }

  header nav ul{
    padding-right: 0px;
    justify-content: center;
  }
  
  header nav ul li{
    padding: 2px 2px 2px 2px;
  }

  p{
    font-size:5vw;
  }

  footer a{
    font-size: 3.5vw;
  }

  .nav a:hover{

      font-size: 4vw; 
  }

  .footer-container a:hover{
    font-size: 3.5vw;
  }

  .footer-container{
    gap: 0px 0px;
  }

  .footer-grid-item.git-hub{
    padding-left: 30px;
  }
}